.App {
  text-align: center;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
}
.main-heading-wrapper {
  padding: calc(5.55556 * 1vw) calc(6.94444 * 1vw) calc(2.77778 * 1vw);
  width: 44.2%;
}
.why-industry-heading {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  color: blue;
  padding-bottom: 20px;
}
.why-industry-subHead {
  font-size: 25px;
  text-align: left;
}
